@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: maroon;
    background-color: goldenrod;
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}